$font-size: 1rem;
$font-color: #333;

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: $font-color;
  font-size: $font-size;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei',
    arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none;
}

.layout-container {
  display: flex;
  height: 100%;

  .layout-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    flex: 0 0 256px;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #191a23;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    transition: all 0.2s ease-in-out;
  }

  .layout-main {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 256px;
    transition: all 0.2s ease-in-out;
    .layout-navbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 256px;
      z-index: 1;
      height: 64px;
      line-height: 64px;
    }
    .layout-content {
      flex: auto;
      padding: 74px 10px 10px;
    }
  }
}
