$font-size: 1rem;
$font-color: lch(53 105 40);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
  color: $font-color;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi,
    sans-serif;
}

a {
  text-decoration: none;
}
