.layout {
  height: 100%;
}

.header {
  color: white !important;
  padding: 0 20px;
  background-color: #006dff !important;
}

.sider {
  background-color: #f4f7fa !important;
  border-right: 1px solid #eee !important;
  padding: 0 20px;
}
