.admin-menu.ant-menu-inline {
  border-right: 0;
  background-color: transparent;
  & > li {
    margin: 10px 0;
    // overflow: visible;
  }
  .ant-menu-submenu > .ant-menu {
    background-color: transparent;
  }
  .ant-menu-item {
    transition: color 0s, background 0s, box-shadow 0.2s;
    font-size: 14px;
    color: #45484d;
    letter-spacing: 0;
    display: inline-block;
  }
  .ant-menu-item,
  .ant-menu-item-selected {
    width: 100%;
  }
  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background-color: #b5b5b5;
  }
  .ant-menu-submenu-selected,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow,
  .ant-menu-submenu:hover
    > .ant-menu-submenu-title
    > .ant-menu-submenu-expand-icon {
    color: #000;
  }
  .ant-menu-item-selected,
  .ant-menu-item-active {
    color: #fff;
    background-color: #1c2838 !important;
    box-shadow: 0 4px 8px 0 rgba(10, 28, 51, 0.2);

    a {
      color: #fff;
    }
  }
  .ant-menu-item-selected::after,
  .ant-menu-selected::after {
    display: none;
  }

  // & > li:not(:last-child)::before {
  //   height: 1px;
  //   background-color: #ddd;
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -10px;
  // }
}
